{% extends 'base.html.twig' %}

{% block title %}Eqp index{% endblock %}

{% block body %}
    <h1>Eqp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eqp in eqps %}
            <tr>
                <td>{{ eqp.id }}</td>
                <td>{{ eqp.name }}</td>
                <td>{{ eqp.type }}</td>
                <td>
                    <a href="{{ path('app_eqp_show', {'id': eqp.id}) }}">show</a>
                    <a href="{{ path('app_eqp_edit', {'id': eqp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eqp_new') }}">Create new</a>
{% endblock %}
