{% extends 'base.html.twig' %}

{% block title %}Gite
{% endblock %}

{% block body %}
	<section class="container">

		<h3 class="text-center p-3">Espace propriétaire</h3>
		<h1 class="text-center">{{ gite.name }}</h1>


		<div class="row">
			<div class="col">
				<img width="100%" src="../../images/gites/{{ gite.imageName }}" alt="{{ gite.name }}">
			</div>
			<div class="col">
				<table class="table">
					<tbody>
						<tr>
							<th>Description</th>
							<td>{{ gite.description }}</td>
						</tr>
						<tr>
							<th>Adresse</th>
							<td>{{ gite.address }}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{ gite.city }}</td>
						</tr>
						<tr>
							<th>Zipcode</th>
							<td>{{ gite.zipcode }}</td>
						</tr>
						<tr>
							<th>Departement</th>
							<td>{{ gite.departement }}</td>
						</tr>
						<tr>
							<th>Region</th>
							<td>{{ gite.region }}</td>
						</tr>
						<tr>
							<th>Surface</th>
							<td>{{ gite.surface }}</td>
						</tr>
						<tr>
							<th>Rooms</th>
							<td>{{ gite.rooms }}</td>
						</tr>
						<tr>
							<th>Beds</th>
							<td>{{ gite.beds }}</td>
						</tr>
						<tr>
							<th>AnimalAllowed</th>
							<td>{{ gite.animalAllowed ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>AnimalFee</th>
							<td>{{ gite.animalFee }}</td>
						</tr>
						<tr>
							<th>GreenPrice</th>
							<td>{{ gite.greenPrice }}</td>
						</tr>
						<tr>
							<th>RedPrice</th>
							<td>{{ gite.redPrice }}</td>
						</tr>
						<tr>
							<th>StartRed</th>
							{% if gite.startRed %}
								<td>{{ gite.startRed ? gite.startRed|date('Y-m-d') : '' }}</td>
							{% endif %}
						</tr>

						<tr>
							<th>EndRed</th>
							{% if gite.endRed %}
								<td>{{ gite.endRed ? gite.endRed|date('Y-m-d') : '' }}</td>
							{% endif %}
						</tr>

						<tr>
							<th>CreatedAt</th>
							<td>{{ gite.createdAt ? gite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>

						<tr>
							<th>UpdatedAt</th>
							<td>{{ gite.updatedAt ? gite.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Services
							</th>
							<td>
								{% for giteservice in gite.giteServices %}
									{{ giteservice.service.name }}
									à
									{{ giteservice.price }}
									pesos<br>
								{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Equipements
							</th>
							<td>
								{% for giteEqp in gite.eqps %}
									{{ giteEqp.name }}
									<br>
								{% endfor %}
							</td>
						</tr>

					</tbody>
				</table>

				<a href="{{ path('app_gite_index_owner') }}"> Retour à la liste</a>

				<a href="{{ path('app_gite_edit', {'id': gite.id}) }}">edit</a>

				{{ include('gite/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
{% endblock %}
