{% extends 'base.html.twig' %}

{% block title %}Gite
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-center">{{ gite.name }}</h1>


		<div class="row">
			<div class="col">
				<img width="100%" src="../images/gites/{{ gite.imageName }}" alt="{{ gite.imageName }}">
				<h3 class="mt-5">Description</h3>
				<p>{{ gite.description }}</p>
			</div>
			<div class="col">
				<table class="table">
					<tbody>
						<tr></tr>
						<tr>
							<th>Adresse</th>
							<td>{{ gite.address }}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{ gite.city }}</td>
						</tr>
						<tr>
							<th>Zipcode</th>
							<td>{{ gite.zipcode }}</td>
						</tr>
						<tr>
							<th>Departement</th>
							<td>{{ gite.departement }}</td>
						</tr>
						<tr>
							<th>Region</th>
							<td>{{ gite.region }}</td>
						</tr>
						<tr>
							<th>Surface</th>
							<td>{{ gite.surface }}</td>
						</tr>
						<tr>
							<th>Rooms</th>
							<td>{{ gite.rooms }}</td>
						</tr>
						<tr>
							<th>Beds</th>
							<td>{{ gite.beds }}</td>
						</tr>
						<tr>
							<th>Animaux acceptés ?</th>
							<td>{{ gite.animalAllowed ? 'Oui' : 'Non' }}</td>
							{% if gite.animalAllowed and gite.animalFee > 0 %}
								<tr><th> Supplément (animaux):</th>
									<td>{{ gite.animalFee }}
									€</td></tr>
							{% endif %}
						</tr>

						<tr>
							<th>Tarif hebdomadaire</th>
							<td>{{ gite.greenPrice }} €</td>
						</tr>

						<tr>
							<th>Services
							</th>
							<td>
								{% for giteservice in gite.giteServices %}
									{{ giteservice.service.name }}
									{% if giteservice.price > 0  %}
										à
										{{ giteservice.price }}
										pesos<br>
									{% else %}
									<span>(inclus)</span><br>
										{% endif %}
								{% endfor %}
							</td>
						</tr>
					<tr>
							<th>Equipement(s) intérieur(s)
							</th>
							<td>
								{% for giteEqp in gite.eqps %}
									{% if giteEqp.type is same as("intérieur")  %}
										{{ giteEqp.name }}
										<br>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Equipement(s) extérieur(s)
							</th>
							<td>
								{% for giteEqp in gite.eqps %}
									{% if giteEqp.type is same as("extérieur")  %}
										{{ giteEqp.name }}
										<br>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_gite_index') }}">back to list</a>

				<a href="{{ path('app_gite_edit', {'id': gite.id}) }}">edit</a>

				{{ include('gite/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
{% endblock %}
